
/* I used borders while working with my flexboxes to help with framing out the site. 
I decided to leave them in the syntax but I commented them out to give the website the 
look I want it to look like */

:root {
    --dark: rgb(59, 59, 59);
    --light: #fff;
    /* I googled how to make a gradient in CSS to get this code*/
    --lightgrey: /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#125199+0,0d316b+20,7db9e8+100 */
    background: #125199; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #125199 0%, #0d316b 20%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  #125199 0%,#0d316b 20%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  #125199 0%,#0d316b 20%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#125199', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    ;
    --subsectioncolor: #95a1a9;
}
* {
    box-sizing: border-box
    margin: 0;
    padding: 0;

}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    
   
 }

 nav{
    background-color: var(--lightgrey);
    padding: 5px 20px;
    color: white;
    /* z-index: 2; */
 }

 ul {
    list-style-type: none;
 }

 a{
    color: var(--light);
    text-decoration: none;
    
 }

 a:hover{
    text-decoration: underline;
 }

 .menu li{
    font-size: 16px;
    color: var(--light);
    /* padding: 15px 5px; */
 }

 .name a{
    font-size: 24px;
    color: var(--light);
    /* float: left; */
 }

 .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: var(--light);
 }

 .name a:hover{
    text-decoration: none;
 }

 .hero-img {
    height: 500px;
    width: 750px;
    /* border: 2px solid blue; */
    padding: 0;
    margin: 0;
   max-width: 100%;
   height: auto;
}

#image-container{
   display: flex;
   align-items: center;
   background-color: var(--lightgrey); 
   flex-wrap: wrap;
   justify-content: space-between;
   height: 640px;
   
}



.hero-title{
    /* width: 40%; */
    color: var(--light);
    /* border: 2px solid blue; */
    /* margin: auto;  */
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    
}

.hero-description {
    display: flex;
    justify-content: center;
    /* border: 2px solid yellow; */
    color: var(--light);
    
}

/*controls the entire container*/
/* First Version
.text-container {
    border: 2px solid green; 
    display: block;
    justify-content: center;
    margin-right: 5%;
    width: 30%;
}*/

/* Second Version*/
.text-container {
    /* border: 2px solid green;  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 1.5%;
    width: 35%;
}


.hero-paragraph{
    display: flex;
    justify-content: center;
    color: var(--light);
}

/*Portfolio small section before the examples*/
.portfolio{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: flex;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    height: 50%;
    background-color: #e0e0e0;
    
    
    /* flex-wrap: wrap; */
    /* padding-bottom: 25px; */
}

.Portfolio-title{
    color: var(--subsectioncolor);
}

.box0{
    /* border: 2px dashed blue; */
    height: 75%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
   

}

.Portfolio-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* border: 2px solid green; */
    flex-shrink: 1;
    flex-grow: 1;
    height: 50%;
    width: 35%;
   
}



/*horiseon Section*/
.portfolio1{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    height: 50%;
    background-color: var(--light);
    
    /* flex-wrap: wrap; */
    /* padding-bottom: 25px; */
}

.box1{
    /* border: 2px dashed blue; */
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
   

}

.section-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* border: 2px solid green; */
    flex-shrink: 1;
    flex-grow: 1;
    height: 50%;
    width: 35%;
   
}

.section-paragraph{
    flex-wrap: wrap;
}

.float-left {
    height: 450px;
    width: 400px;
    padding: 25px;
    max-width: 100%;
    transition: 1s;
}

.float-left:hover{
    height: 500px;
    width: 450px;
    transition: 2s;
}
/*second portfolio box*/
.portfolio2{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
    flex-shrink: 1;
    height: 50%;
    background-color: var(--lightgrey)
    
    /* flex-wrap: wrap; */
    /* padding-bottom: 25px; */
}

.box2{
    /* border: 2px dashed blue; */
    height: 75%;
    width: 100%;
    display: flex;
    /*This created the change that made the photo go to the right and the text to the left*/
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: wrap;
    
   

}

.section-container2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* border: 2px solid green; */
    flex-shrink: 1;
    flex-grow: 1;
    height: 50%;
    width: 35%;
    margin: 2%;
    color: var(--light);
   
}

.section-paragraph2{
    flex-wrap: wrap;
    color: var(--light);
}

.float-right {
    height: 450px;
    width: 400px;
    padding: 25px;
    max-width: 100%;
    transition: 1s;
}

.float-right:hover{
    height: 500px;
    width: 450px;
    transition: 2s;
}
/*Contact subsection*/
.form-container{
    display: flex;
    justify-content: center;
    background-color: var(--light);
    height: 250px;
    /* border: 2px solid red; */
    align-items: center;
}

form{ 
    height: 50%;
    /* border: 2px dashed green; */
    
    
}


.contact{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: flex;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    height: 50%;
    background-color: #e0e0e0;
    
    /* flex-wrap: wrap; */
    /* padding-bottom: 25px; */
}

.contact-box{
    /* border: 2px dashed blue; */
    height: 75%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
   

}

.contact-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* border: 2px solid green; */
    flex-shrink: 1;
    flex-grow: 1;
    height: 50%;
    width: 35%;
   
}

.contact-title{
    color: var(--subsectioncolor);
}

footer {
    display: flex;
    justify-content: center;
    color: white;
}




@media screen and (max-width: 1209px) {
    nav{
        background-color: var(--lightgrey);
        padding: 5px 20px;
        color: var(--light);
        /* z-index: 2; */
     }
    .text-container {
        /* border: 2px solid green;  */
        display: flex;
        /* flex direction column forced the content to be on top of one another  */
        flex-direction: column;
        /* This property didn't work when I was trying to align the items within the flexbox
        vertical-align: middle; */
        justify-content: center;
        /* align-items center aligned the content in my flex box */
        align-items: center;
        margin-right: 0;
        width: 100%;
        /* flex-direction: row; */
    }

    .hero-title{
        width: 100%;
        color: var(--light);
        /* border: 2px solid blue; */
        /* margin: auto;  */
        text-transform: uppercase;
        /* display: inline; */
        /* display flex in this section allowed for the h1 to properly center align within its container  */
        display: flex;
        justify-content: center;
        /* align items is not needed to center align this. Justify content is what's aligning it in the center */
        align-items: center;

        
    }

    .hero-description {
        justify-content: center;
        /* border: 2px solid yellow; */
        /* display: inline; */
        display: flex;
        width: 100;
        /* margin-left: 3%; */
        
    }
    
    .hero-img {
        height: 500px;
        width: 750px;
        /* border: 2px solid blue; */
        padding: 0;
        margin: 0;
       max-width: 100%;
       height: auto;
       justify-content: center;
    }
    
    #image-container{
        display: flex;
        align-items: center;
        background-color: var(--lightgrey); 
        flex-wrap: wrap;
        /* This Justify content forces the element in the hero container to center align */
        justify-content: center;
        height: 720px;
        
     }

  }

/* Tablets */
@media screen and (max-width: 992px) {
    nav{
        background-color: var(--lightgrey);
        padding: 5px 20px;
        color: white;
        /* z-index: 2; */
     }
    .text-container {
        /* border: 2px solid green;  */
        display: flex;
        /* flex direction column forced the content to be on top of one another  */
        flex-direction: column;
        /* These properties didn't work 
        vertical-align: middle; 
        align-items: center; */
        justify-content: center;
        /* align-items center aligned the content in my flex box */
        align-items: center;
        margin-right: 0;
        width: 100%;
        /* flex-direction: row; */
    }

    .hero-title{
        width: 100%;
        color: var(--light);
        /* border: 2px solid blue; */
        /* margin: auto;  */
        text-transform: uppercase;
        /* display: inline; */
        /* display flex in this section allowed for the h1 to properly center align within its container  */
        display: flex;
        justify-content: center;
        /* align items is not needed to center align this. Justify content is what's aligning it in the center */
        align-items: center;

        
    }

    .hero-description {
        justify-content: center;
        /* border: 2px solid yellow; */
        /* display: inline; */
        display: flex;
        width: 100;
        /* margin-left: 3%; */
        
    }
    
    .hero-img {
        height: 500px;
        width: 750px;
        /* border: 2px solid blue; */
        padding: 0;
        margin: 0;
       max-width: 100%;
       height: auto;
       justify-content: center;
    }
    
    #image-container{
        display: flex;
        align-items: center;
        background-color: var(--lightgrey); 
        flex-wrap: wrap;
        /* This Justify content forces the element in the hero container to center align */
        justify-content: center;
        height: 720px;
        
     }
   
  }
/* Large smartphones */
  @media screen and (max-width: 768px) {
    nav {
      background-color: var(--lightgrey);
    }

    .text-container {
        /* border: 2px solid green;  */
        display: flex;
        /* flex direction column forced the content to be on top of one another  */
        flex-direction: column;
        justify-content: center;
        /* align-items center aligned the content in my flex box */
        align-items: center;
        margin-right: 0;
        width: 100%;
        /* flex-direction: row; */
    }

    .hero-title{
        width: 100%;
        color: var(--light));
        /* border: 2px solid blue; */
        /* margin: auto;  */
        text-transform: uppercase;
        /* display: inline; */
        /* display flex in this section allowed for the h1 to properly center align within its container  */
        display: flex;
        justify-content: center;
        /* align items is not needed to center align this. Justify content is what's aligning it in the center */
        align-items: center;

        
    }

    .hero-description {
        justify-content: center;
        /* border: 2px solid yellow; */
        /* display: inline; */
        display: flex;
        width: 100;
        /* margin-left: 3%; */
        
    }
    
    .hero-img {
        height: 500px;
        width: 750px;
        /* border: 2px solid blue; */
        padding: 0;
        margin: 0;
       max-width: 100%;
       height: auto;
       justify-content: center;
    }
    
    #image-container{
        display: flex;
        align-items: center;
        background-color: var(--lightgrey); 
        flex-wrap: wrap;
        /* This Justify content forces the element in the hero container to center align */
        justify-content: center;
        height: 720px;
        
     }
      
      .hero-paragraph{
        margin-left: 2%;
        margin-right: 2%;
        }

    .section-paragraph{
        margin-left: 2%;
        margin-right: 2%;
    }
    .section-paragraph2 {
        margin-left: 2%;
        margin-right: 2%;
    }

    .float-left{
        margin-right: 1%;
        margin-left: 1%;
    }

    .float-right{
        margin-right: 1%;
        margin-left: 1%;
    }

  }
    
/* Small smartphones */
@media screen and (max-width: 576px) {
  
    header {
      background-color: var(--lightgrey);
      
    }

    .box1{
        /* border: 2px dashed blue; */
        height: 75%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    .section-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        /* border: 2px solid green; */
        flex-shrink: 1;
        flex-grow: 1;
        height: 35%;
        width: 35%;
        justify-content: center;
        align-items: center;
       
    }

    .section-paragraph{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .box2{
        /* border: 2px dashed blue; */
        height: 75%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    .section-container2{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        /* border: 2px solid green; */
        flex-shrink: 1;
        flex-grow: 1;
        height: 35%;
        width: 35%;
        justify-content: center;
        align-items: center;
       
    }

    .section-paragraph2{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    .menu {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;
        width: 100%;
     }
    
    .hero-paragraph{
        margin-left: 2%;
        margin-right: 2%;
        }

    .section-paragraph{
        margin-left: 2%;
        margin-right: 2%;
    }
    .section-paragraph2 {
        margin-left: 2%;
        margin-right: 2%;
    }

    .float-left{
        margin-right: 1%;
        margin-left: 1%;
    }

    .float-right{
        margin-right: 1%;
        margin-left: 1%;
    }


  }

  /*iphone x */
  @media screen and (max-device-width: 375px) {
    .text-container {
        /* border: 2px solid green;  */
        display: flex;
        /* flex direction column forced the content to be on top of one another  */
        flex-direction: column;
        justify-content: center;
        /* align-items center aligned the content in my flex box */
        align-items: center;
        margin-right: 0;
        width: 100%;
        /* flex-direction: row; */
        margin-top: 0;
    }

    .hero-title{
        width: 100%;
        color: var(--light);
        /* border: 2px solid blue; */
        /* margin: auto;  */
        text-transform: uppercase;
        /* display: inline; */
        /* display flex in this section allowed for the h1 to properly center align within its container  */
        display: flex;
        justify-content: center;
        /* align items is not needed to center align this. Justify content is what's aligning it in the center */
        align-items: center;   
    }

    .hero-description {
        justify-content: center;
        /* border: 2px solid yellow; */
        /* display: inline; */
        display: flex;
        width: 100;
        /* margin-left: 3%; */
        
    }
    
    .hero-img {
        height: 500px;
        width: 750px;
        /* border: 2px solid blue; */
        padding: 0;
        margin: 0;
       max-width: 100%;
       height: auto;
       justify-content: center;
    }
    
    #image-container{
        display: flex;
        align-items: center;
        background-color: var(--lightgrey); 
        flex-wrap: wrap;
        /* This Justify content forces the element in the hero container to center align */
        justify-content: center;
        height: 720px;
        
     }

     .menu {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;
        width: 100%;
     }
      .hero-paragraph{
        margin-left: 2%;
        margin-right: 2%;
        }

    .section-paragraph{
        margin-left: 2%;
        margin-right: 2%;
    }
    .section-paragraph2 {
        margin-left: 2%;
        margin-right: 2%;
    }

    .float-left{
        margin-right: 1%;
        margin-left: 1%;
    }

    .float-right{
        margin-right: 1%;
        margin-left: 1%;
    }

  }
